html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid a {
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}

.grid a img {
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.photo img {
  max-width: 700px;
}

.photo a {
  font-size: 72px;
}

.imagesAlbum {
  height: 200px;
  width: 300px;
}

.photo {
  display: flex;
  justify-content: center;
}

.photo h1 {
  position: absolute;
  top: 0px;
}

.photo img {
  position: absolute;
  top: 100px;
}
